[run]
branch = True
source = zope.interface
# New in 5.0; required for the GHA coveralls submission.
relative_files = True

[report]
show_missing = true
exclude_lines =
    pragma: no cover
    class I[A-Z]\w+\((Interface|I[A-Z].*)\):
    raise NotImplementedError
    raise AssertionError
    self\.fail
