*.egg-info
*.pyc
*.pyo
*.so
*.swp
__pycache__
.coverage
.coverage.*
.installed.cfg
default.profraw
nosetests.xml
coverage.xml
pyvenv.cfg
.eggs/
.tox/
bin/
build/
eggs/
develop-eggs/
docs/_build/
lib/
lib64
parts/
htmlcov/
